body{
    font-family: 'Spartan', sans-serif;
    background-color: #f1f1f1;
}

header{
    background-image: url('../images/granola.JPG');
    background-attachment: fixed; /* Parallax effect */
    background-position: center; /* Parallax effect */
    background-size: cover; /* Parallax effect */
    height: 5%; /* Parallax effect */
    background-repeat: no-repeat;
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
}

#logo img{
    position: absolute;
    margin: 100 px;
    width: 10px;
    top:10px;
}

.nav_links{
    display: flex;
    color:#f1f1f1;
    justify-content:space-evenly;
    flex-direction:row;
    align-items: center;
}

.card{
    display: grid;
    grid-column: 1/ span 8;
}

.card header{
    display:grid;

}

.container{
    /* Requirement 5 code here*/
    display: grid;
    object-fit: cover;
    grid-template-columns: 50%;
    row-gap: 15px;
    text-align: center;
    align-items: center;
  }

.container img{
    align-items: center;
}

h1{
    text-align: center;
}

#ingredients{
    height: 700px;
    width:600px;
}


.order{
    display: grid;
    grid-template-columns: minmax(0, 1fr)minmax(0, 1fr)minmax(0, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    height: 100%;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;


.order div{
    background-color: #1f1f1f;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grace{
    display: grid;
    grid-template-columns: minmax(0, 1fr)minmax(0, 1fr)minmax(0, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    height: 100%;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.emme{
    display: grid;
    grid-template-columns: minmax(0, 1fr)minmax(0, 1fr)minmax(0, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    height: 100%;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}


p{
    text-align: center;
    font-size: 2em;
}
/* .photos-grid-item img{
    width: 80%;
    height: auto;
}

.professional-container{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 1em;
}

.professional-container img{
    padding: 10px;
    height: auto;
    width: 70%
}

.professional-container div{
    background-color: #C0C0C0;
    padding: 1em;
    margin-right: auto;
} */

