body{
    font-family: 'Spartan', sans-serif;
    background-color: rgb(237,229,220);
    color:#000000;
}

.header{
    background-color:rgb(255,255,255);
    color:#f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 200px;
}

.container{
    display:grid;
    padding:5px;
    border-top:4px solid rgb(244,181,205);
    border-bottom:4px solid rgb(244,181,205);
    align-items: center;
    justify-content: center;
    line-height: 35px;
    border-radius: 5px;
    background-color: rgb(255,255,255);
    padding: 20px;
    width: 80%;
    margin: 1em auto;
    padding: .3em .6em;
    margin: 1em auto;
    border: 1px solid rgb(228,71,89);
    padding: .3em .6em;
}



.container p{
    text-align: center;
    color:#000000;
}


/* .menu{
    display: flex;
    font-size: .9em;
    color: #000000;
    margin: 1em;
    width: 80%;
    text-align:center;
    font-style: italic;
    justify-content:center;
    border-radius: 5px;
    background-color: #f1f1f1;
    line-height: 35px;
    border: 1px solid rgb(228,71,89);
    }

.menu img{
    display: flex;
    justify-content: flex-end;
} */

.nav_links{
    color:rgb(255,255,255);
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    text-align: center;
}

#jar{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3,2fr);
}

.nav_links:visited{
    color:rgb(44,85,70);
}

.nav_item a{
    color:rgb(44,85,70);
    padding: 10px;

  }
  
  .nav_item a:hover, a:focus{
    color: rgb(228,71,89);
    text-decoration: underline;
  }

.mason{
    display:grid;
    width: 3fr;
    height: 1fr;
    align-items: center;
    justify-content: center;
}

.card{
    justify-content: center;
}

.container img{
    align-items: center;
}

.footer{
    width:100%;
    min-height: 75px;
    bottom: 0px;
    left:0px;
    background-color:rgb(255,255,255);
    text-align:center;
    color: #000000;
    position:relative;
    vertical-align: middle;
    padding: 20px;
  }

  h1{
    display:grid;
    justify-content: center;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(44,85,70); /* Green border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(228,71,89);
    color:rgb(255,255,255);
  }


*, *:after, *:before {
    box-sizing: border-box;
}

h3{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 img{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    width:200px;
    height:200px;
}

.container p{
    font-size: .9em;
    color: #000000;
    margin: 1em;
}


.orderNow{
    color:#000000;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    text-align: center;
}

.orderNow:visited{
    color:rgb(44,85,70);
}

.orderNow:hover{
    color:rgb(228,71,89);
}

.skip{
    color: rgb(44,85,70);
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    z-index: 1;
  }

.skip:focus{
    top:20px;
    color: rgb(44,85,70);
    text-decoration-style: solid;
  }


#ingredients{
    height: 700px;
    width:600px;
}

.order{

    height: 100%;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;

.card{
    text-align: center;
}


.container div{
    background-color: rgb(255,255,255);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
