body{
    font-family: 'Spartan', sans-serif;
    background-color: rgb(237,229,220);
    color:#000000;
}

.header{
    background-color:rgb(255,255,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: auto;
    line-height: 30px;
    border-bottom:4px solid rgb(244,181,205);
}

.email{
    text-align: center;
    color:rgba(0, 0, 0, .8);
    text-decoration: underline;
}

.email:visited{
    text-align: center;
    color:rgba(0, 0, 0, .8);
    text-decoration: none;
}

.email:hover{
    text-align: center;
    color:rgb(228,71,89);
    text-decoration: none;
}

.nav_links .nav_item{
    text-decoration: underline;
}

h3{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jar{
  background-image: url('ima');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .current{
width:143px;
height: 143px;
border-radius: 150px;
-webkit-border-radius: 200px;
-moz-border-radius: 150px;
background: url(URL) no-repeat;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

p{
    display: block;
    margin-top: 0px;
    line-height: 30px;
}

#container{
    display:block;
    padding:5px;
    align-items: center;
    justify-content: center;
    line-height: 35px;
    border-radius: 5px;
    background-color: rgb(255,255,255);
    padding: 20px;
    width: 80%;
    /* height: auto; */
    margin: 1em auto;
    padding: .3em .6em;
    margin: 1em auto;
    border: 1px solid rgb(244,181,205);
    padding: .3em .6em;
}

.insta{
    text-align: center;
    width:70px;
    height:70px;
}

#container p{
    display: block;
    text-align: center;
    font-size: 1em;
    color:#000000;
}

#logo{
    width: 9em;
    height: 9em;
    justify-content: center;
}


.nav_links{
    color:rgb(255,255,255);
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

.nav_links:visited{
    color:rgb(44,85,70);
    text-decoration: none;
}

.nav_links a{
    color:rgb(44,85,70);
    padding: 20px;
    text-decoration: none;
}
  
  .nav_links a:hover, a:focus{
    color: rgb(228,71,89);
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
  }

.mason{
    display:grid;
    width: 3fr;
    height: 1fr;
    align-items: center;
    justify-content: center;
}

#container img{
    align-items: center;
}

.flip{
    display:flex;
    flex-direction: row;
    justify-content: center;
    overflow:hidden;
}

.card-container{
    color:rgb(255,255,255);
    -webkit-perspective:1200;
    -moz-perspective:1200;
    perspective:1200;
}

.card-vertical, .card-horizontal{
    width:400px;
    height:400px;
    color:rgb(255,255,255);
    box-shadow: 0 6px 8px #bbb;
    -moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    transition:all .4s ease;
}

.card-front, .card-back{
    height:400px;
    width:400px;
    color:rgb(255,255,255);
    position:absolute;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

.card-back{
    color:rgb(255,255,255);
    -moz-transform:rotateY(179.9deg);
    -webkit-transform:rotateY(179.9deg);
    transform:rotateY(179.9deg);
    background:rgb(228,71,89);
}

.card-front-content, .card-back-content{
    color:rgb(255,255,255);
    padding:2em;
    box-sizing:border-box;
    text-align:center;
    line-height: 90px;
    text-align: center;
    vertical-align: middle;
    line-height:40px;
}
  
.card-back-hr{
    color:rgb(255,255,255);
    -webkit-transform:rotateX(179.9deg);
    -moz-transform:rotateX(179.9deg);
    transform:rotateX(179.9deg);
}
  .card-vertical:hover{
    color:rgb(255,255,255);
    -webkit-transform:rotateY(179.9deg);
    -moz-transform:rotateY(179.9deg);
    transform:rotateY(179.9deg);
  }
.card-horizontal:hover{
    color:rgb(255,255,255);
    -webkit-transform:rotateX(179.9deg);
    -moz-transform:rotateX(179.9deg);
    transform:rotateX(179.9deg);
}

.footer{
    width:100%;
    min-height: 75px;
    bottom: 0px;
    left:0px;
    background-color:rgb(255,255,255);
    text-align:center;
    color: #000000;
    position:relative;
    vertical-align: middle;
    padding: 20px;
    border-top:5px solid rgb(244,181,205);
  }

h1 {
    display:grid;
    position: relative;
    font-size: 30px;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
}

h2{
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 60px;
}

span{
    display:flex;
    justify-content: center;
    flex-direction: row;
    
}


.gallery{
    display:grid;
    overflow:auto;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    grid-template-columns: 3em;
    grid-template-rows: 3em;
    grid-gap: 20px;
}


*, *:after, *:before {
    box-sizing: border-box;
}

h2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container p{
    display:block;
    font-size: 1em;
    color: #000000;
    margin: 1em;
}


.orderNow{
    color:#000000;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

.orderNow:visited{
    color:#000000;
}

.orderNow:hover{
    color:rgb(228,71,89);
}

.skip-to-content-link {
    color:rgb(44,85,70);
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
  }
  
.skip-to-content-link:focus {
    top: 0;
  }


#ingredients{
    height: 35em;
    width: 25em;
}

.order{
    height: 100%;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.current{
    width:175;
    height:175;
    animation-iteration-count: 1;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;   
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;    
    overflow:hidden;
}  

 .current  
{
    -moz-animation: spin .8s linear;
    -o-animation: spin .8s linear;    
    -webkit-animation: spin .8s linear;
    animation: spin .8s linear;        
} 

@keyframes spin{
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@media screen and (min-width: 600px){
    .header{
        background-color:rgb(255,255,255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: sticky;
        height: auto;
        border-bottom:4px solid rgb(244,181,205);
    }

    .nav_links:visited{
        color:rgb(44,85,70);
        text-decoration: none;
    }
    
    .nav_links a{
        color:rgb(44,85,70);
        padding: 10px;
        text-decoration: none;
    
      }
      
      .nav_links a:hover, a:focus{
        color: rgb(228,71,89);
        font-family: 'Spartan', sans-serif;
        text-decoration: none;
      }
      #logo{
        width: 9em;
        height: 9em;
        justify-content: center;
    }
    
    .nav_links{
        flex-direction: row;
        text-decoration: none;
    }

    .gallery{
        display:grid;
        overflow:auto;
        justify-content: center;
        grid-template-columns: 3em 3em;
        grid-template-rows: 3em 3em 3em;
        grid-gap: 30px;
    }

@media screen and (min-width: 850px){
    .header{
        display:flex;
        flex-direction: column;
    }
    
    .nav_links{
        display:flex;
        flex-direction: row;
        font-size: 1.5em;
        justify-content:space-between;
        padding:15x;
        text-decoration: none;
    }

    .gallery{
        display:grid;
        overflow:auto;
        justify-content: center;
        grid-template-columns: 7em 7em 7em;
        grid-template-rows: 7em 7em 7em;
        grid-gap: 50px;
    }


    @media screen and (prefers-reduced-motion: reduce){
        .skip-to-content-link a{
            -webkit-transition: initial;
            transition: initial;
          }

          @-webkit-keyframes vertical-animate {}
          @keyframes vertical-animate {}
          @-webkit-keyframes horizontal-animate {}
          @keyframes horizontal-animate {}
      
          * {
              -webkit-animation: none !important;
              -moz-animation: none !important;
              -o-animation:  none !important;
              animation: none !important;
          }

        header{
          background-attachment: initial;
        }

        .current{
        -webkit-transition: initial;
        transition: initial;
        }
      }